name: OpenSSL Local Comparison Tests

defaults:
  run:
    working-directory: validation/local_ping_pong_openssl

on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    branches: [master]
    paths-ignore:
      - README.md

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  test:
    strategy:
      matrix:
        toolchain:
          - stable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: Swatinem/rust-cache@v2
      - name: Test against OpenSSL locally
        run: cargo test
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
